@import url(augmented-ui.css);

@font-face{
    font-family: 'HomeVideo';
    src: local("HomeVideo"),
    url('fonts/HomeVideo-Regular.otf') format("woff"),
    url('fonts/HomeVideo-Regular.otf') format("woff2");
}

@font-face{
    font-family: 'HomeVideoBold';
    src: local("HomeVideoBold"),
    url('fonts/HomeVideo-Bold.otf') format("woff"),
    url('fonts/HomeVideo-Bold.otf') format("woff2");
}

@font-face{
    font-family: 'DigitalPixel';
    src: local("DigitalPixel"),
    url('fonts/DigitalPixelV124-Regular.otf') format("woff"),
    url('fonts/DigitalPixelV124-Regular.otf') format("woff2");
}


.buttonMenu
{
    color: rgb(152, 157, 159);
    margin-top: 20px;
    height: 40px;
    margin-left: 20px;
    margin-right: 50px;
    text-align: left;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.41);
    font-family: "HomeVideo" ;
}

.buttonToolBar
{
    font-family: "HomeVideo" ;
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0);
    margin-left: 2px;
    margin-right: 2px;
    border-color: rgb(0, 0, 0);
    margin-top: 3px;
    margin-bottom: 3px;
}

.buttonToolBar :hover
{
    background-color: chocolate;
    font-family: "HomeVideo" ;
    font-size: 20px;
 
    border-color: rgb(0, 0, 0);
    margin-top: auto;
    margin-bottom: auto;
}