@media screen and (max-width: 600px) {
    .two
    {
          
        background-position-y: 3px !important;
        background-size: 630px !important;
    }
    .texturePageBackgroundHat
    {

        background-position-y: 3px !important;
        background-size: 630px !important;
    }
}